<section>
    <h1><%= vehicle.make %> <%= vehicle.model %> <%= vehicle.year %></h1>
    <p><%= vehicle.desc %></p>
    <p>$<%= vehicle.price %></p>
    <p><%= vehicle.mileage %> miles</p>
    <% for( let i = 0; i < vehicle.image_paths.length; i++ ) { %>
        <img src="<%= vehicle.image_paths[i] %>" alt="<%= vehicle.alt_texts[i] %>">
    <% } %>
    <p>Interested in learning more about this car? <a href="/vehicle/<%= vehicle.vehicle_id %>/inquiry">Send an inquiry</a>.</p>
</section>
<section>
    <% if (isLoggedIn) { %>
        <h2>Submit Your Review</h2>
        
        <form action="/vehicle/<%= vehicle.vehicle_id %>/review" method="POST">
            <label for="message">Your Review:</label>
            <textarea id="message" name="message" rows="5" cols="50" required></textarea>
        
            <button type="submit">Submit Review</button>
        </form>
    <% } else { %>
        <p>To leave a review or inquiry, <a href="/account/login">log in</a></p>
    <% } %>
</section>
<section>
    <h2>Popular Reviews</h2>
    <%- include('../partials/reviews.ejs') %>
</section>