<h1>Listing Details</h1>

<aside>
    <%- vehicleTypeNav %>
</aside>

<section>
    <h2><%= vehicle.make %> <%= vehicle.model %> <%= vehicle.year %></h2>
    
    <p><%= vehicle.desc %></p>
    <p>$<%= vehicle.price %></p>
    <p><%= vehicle.mileage %> miles</p>
    <% if (!vehicle.is_sold) { %>
        <p>Interested in learning more about this car? <a href="/vehicle/<%= vehicle.vehicle_id %>/inquiry">Send an inquiry</a>.</p>
    <% } %>
    <% if (user?.permission > 1) { %>
        <details>
            <summary>Edit</summary>
            <form action="/vehicle/<%= vehicle.vehicle_id %>" method="post">
                <input type="hidden" name="_method" value="patch">
                
                <label for="mileage">Mileage:</label>
                <input type="number" name="mileage" id="mileage" required value="<%= vehicle.mileage %>"></input>
                <label for="price">Price:</label>
                <input type="number" name="price" id="price" required value="<%= vehicle.price %>"></input>
                
                <%- include('../partials/category-search-input') %>
                
                <% if (user?.permission > 2) { %>
                    <input type="checkbox" name="is_featured" id="is_featured" <%- vehicle.is_featured ? "checked" : "" %>></input>
                    <label for="is_featured">Featured</label>
                <% } %>
                

                <input type="checkbox" name="is_sold" id="is_sold" <%- vehicle.is_sold ? "checked" : "" %>></input>
                <label for="is_sold">Purchased</label>
                
                <label for="desc">Description:</label>
                <textarea name="desc" id="desc" required><%= vehicle.desc %></textarea>

                <button type="submit">Update Listing</button>
            </form>
            <% if (user?.permission > 2) { %>
                <form action="/vehicle/<%= vehicle.vehicle_id %>" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit">Delete Listing</button>
                </form>
            <% } %>
        </details>
    <% } %>
</section>
<section class="gallery">
    <h2 class="span">Images</h2>
    <% vehicle.image_paths.forEach(path => { %>
        <article>
            <img src="<%= path %>" alt="another image of a <%= vehicle.make %> <%= vehicle.model %>">
        </article>
    <% }) %>
</section>
<% if (!vehicle.is_sold) { %>
    <a href="/vehicle/<%= vehicle.vehicle_id %>/inquiry" class="own-today">Own Today</a>
<% } %>
<section>
    <% if (vehicle.is_sold && user.user_id === vehicle.user_id) { %>
        <h2>Submit a Repair Request</h2>
        <form action="/repair" method="post">
            <label for="subject">Subject:</label>
            <input type="hidden" name="vehicle_id" value="<%= vehicle.vehicle_id %>">
            <input type="text" name="subject" id="subject" required></input>
            <label for="r_desc">Description:</label>
            <textarea name="desc" id="r_desc" required></textarea>
            <input type="submit">
        </form>
    <% } else if (!vehicle.is_sold) { %>
        <% if (isLoggedIn) { %>
            <h2>Submit Your Review</h2>
            
            <form action="/vehicle/<%= vehicle.vehicle_id %>/review" method="POST">
                <label for="message">Your Review:</label>
                <textarea id="message" name="message" rows="5" cols="50" required></textarea>
                <button type="submit">Submit Review</button>
            </form>
        <% } else { %>
            <p>To leave a review or inquiry, <a href="/account/login">log in</a></p>
        <% } %>
    <% } %>
</section>
<% if (!vehicle.is_sold) { %>
    <section>
        <h2 class="span">Popular Reviews</h2>
        <%- include('../partials/reviews.ejs') %>
    </section>
<% } %>