<% reviews.forEach(review => { %>
    <article>
        <h3><%= review.first_name %> <%= review.last_name %> - <%- caledarWithTimeFormat(review.created_at) %></h3>
        <p><%= review.message %></p>
        <% if (review.user_id === user?.user_id || user?.permission > 1) { %>
            <details>
                <summary>Edit Message</summary>
                <form action="/vehicle/<%= review.vehicle_id %>/review/<%= review.review_id %>" method="post">
                    <input type="hidden" name="_method" value="put">
                    <label for="message">Updated Message:</label>
                    <textarea name="message" id="message" required><%= review.message %></textarea>
                    <button type="submit">Update</button>
                </form>
                <form action="/vehicle/<%= review.vehicle_id %>/review/<%= review.review_id %>" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit">Delete</button>
                </form>
            </details>
        <% } %>
    </article>
<% }) %>